body {
    background-color: #2b1416;
    background-image: linear-gradient(180deg, #912929, #f07474);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* formulário */
form {
    background-color: rgba(202, 89, 89, 0.459);
    padding: 15px;
    border-radius: 10px;
}

/* labels */
.form-label {
    display: block;
    width: fit-content;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

/* inputs */
.form-control {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a,
label,
input,
button {
    font-size: 12pt;
}

/* botão */
button {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    padding: 12px 20px;
    background-color: #912929;
    font-weight: bold;
    color: #ccc;
}

/* link */
a {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    padding: 12px 20px;
    background-color: #565e0e;
    font-weight: bold;
    color: #ccc;
}

/* título Home */
h1 {
    color: #ccc;
}